
doctype html
html
    title JPT3 Dance Institution 
    block scripts
    block style 
body 
    nav#Mynav.nav
      ul
        div#logo
          img(src="/static/img/logo.png", alt="IMG")
          | IMG
        li #[a(href="/") Home ]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/contact") ContactUS]
    block content
    footer#MyFooter 
      | &copy JPT3 BestDanceInstitute.com
